* {
    margin: 0;
    padding: 0;
}

body {
    background: #111111;
    font-family: 'Lato', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/* 
HEADER HEADER HEADER HEADER
*/

.header-ctr {
    width: 100%;
    height: 80px;
    border-bottom: blue solid 1px;
    background: #111111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.header-grid {
    display: flex;
}

.business-name,
.header-link-ctr {
    display: flex;
    margin-top: 18px;
    margin-left: 20px;
}

.business-name {
    font-family: 'Nanum Gothic Coding', monospace;
    width: 70%;
}

.header-link-ctr {
    width: 30%;
}

.lt-tag {
    color: blue;
}

.last-name-text {
    color: blue;
}

.codes-text {
    color: #DFF3E4;
}

.lt-tag,
.last-name-text,
.codes-text {
    margin-left: 5px;
    font-size: 40px;
}

.header-link {
    width: 33.3%;
    text-align: center;
    margin-top: 18px;
}

.header-link a {
    color: #DFF3E4;
    font-size: 20px;
    text-decoration: none;
}

/* 
CONTENT CONTENT CONTENT CONTENT
*/

.content-ctr,
.section {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    height: auto;
}

.image-ctr,
.intro-text-pt2-ctr {
    width: 100%;
}

.intro-text-ctr {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 300px;
}

.intro-text-pt2-ctr {
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
}

.intro-text {
    color: white;
    font-size: 60px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.intro-text-pt2 {
    color: white;
    font-size: 30px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.sect-2-txt-ctr,
.sect-3-txt-ctr,
.sect-4-txt-ctr {
    width: 90%;
    margin: auto;
    text-align: left;
    margin-top: 100px;
}

.sect-2-txt,
.sect-3-txt,
.sect-4-txt {
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 30px;
}

.projects-ctr,
.education-ctr,
.skills-ctr {
    width: 90%;
    margin: auto;
    border-top: solid blue 2px;
    display: flex;
    margin-top: 20px;
}

.gameboy-ctr {
    width: 100%;
    margin-top: 55px;
}

.gameboy-inner {
    width: 33.3%;
    margin: auto;
    background: lightgrey;
    height: 800px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 25px;
}

.gameboy-top {
    display: flex;
    width: 100%;
    height: 45px;
}

.gameboy-pM {
    width: 80%;
    border-bottom: solid grey 5px;
}

.gameboy-pR {
    width: 10%;
    border-bottom: solid grey 5px;
    border-left: solid grey 5px;
}

.gameboy-pL {
    width: 10%;
    border-bottom: solid grey 5px;
    border-right: solid grey 5px;
}

.gameboy-screen {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 25px;
    width: 85%;
    height: 300px;
    margin: auto;
    background: grey;
    margin-top: 25px;
}

.gameboy-screen-top {
    width: 100%;
    display: flex;
}

.gameboy-screen-lineL {
    width: 25%;
}

.gameboy-screen-lineL-inner {
    width: 75%;
    margin: auto;
    margin-top: 10px;
    border-top: solid purple 3px;
    border-bottom: solid blue 3px;
    height: 5px;
}

.gameboy-screen-text-ctr {
    width: 60%;
}

.gameboy-screen-text {
    margin-top: 5px;
    text-align: center;
}

.gameboy-screen-lineR {
    width: 15%;
}

.gameboy-screen-lineR-inner {
    width: 75%;
    margin: auto;
    margin-top: 10px;
    border-top: solid purple 3px;
    border-bottom: solid blue 3px;
    height: 5px;
}

.gameboy-main-screen {
    width: 100%;
    display: flex;
}

.gameboy-battery-ctr {
    width: 25%;
}

.battery-dot {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: auto;
    margin-top: 100px;
}

.battery-text {
    text-align: center;
    margin-top: 10px;
}

.gameboy-realScreen-ctr {
    width: 60%;
    background: green;
    height: 225px;
    margin-top: 15px;
}

.gameboy-empty-ctr {
    width: 15%;
}

.gameboy-controls-ctr {
    width: 100%;
    display: flex;
}

.gameboy-controls-wrapper {
    display: flex;
    width: 100%;
}

.gameboy-dpad-ctr {
    width: 50%;
}

.gameboy-dpad-group {
    width: 50%;
    margin-top: 100px;
    margin-left: 40px;
}

.gameboy-dpad-toprow {
    width: 100%;
    text-align: center;
    height: 50px;
}

.dpad-up,
.dpad-left,
.dpad-right,
.dpad-down {
    width: 50px;
    height: 50px;
    background: black;
    border: solid 2px black;
}

.dpad-up {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dpad-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dpad-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dpad-down {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button-center {
    width: 50px;
    height: 50px;
    background-color: black;
}

.gameboy-dpad-middlerow {
    width: 100%;
    text-align: center;
    display: flex;
}

.gameboy-dpad-bottomrow {
    width: 100%;
    text-align: center;
}

.gameboy-ba-ctr {
    width: 50%;
}

.b-ctr,
.a-ctr {
    text-align: center;
}

.a-ctr {
    margin-top: 120px;
    margin-left: 150px;
}

.b-ctr {
    margin-top: -60px;
    margin-right: 20px;
}


.b-button,
.a-button {
    width: 70px;
    height: 70px;
    background: purple;
    border-radius: 50%;
    border: solid black 2px;
}

.a-ctr p {
    text-align: center;
    color: purple;
    font-weight: bolder;
    font-size: 25px;
    rotate: -20deg;
    margin-left: 40px;
}

.b-ctr p {
    text-align: center;
    color: purple;
    font-weight: bolder;
    font-size: 25px;
    rotate: -20deg;
    margin-left: 40px;
}

.gameboy-pause-ctr {
    width: 100%;
    display: flex;
}

.select-ctr {
    width: 50%;
    text-align: right;
    rotate: -30deg;
    margin-top: 70px;
    margin-right: 30px;
}

.select-button {
    width: 80px;
    height: 15px;
    border-radius: 50px;
    background: gray;
}

.start-ctr {
    width: 50%;
    text-align: left;
    rotate: -30deg;
    margin-top: -20px;
}

.start-ctr p {
    margin-left: 15px;
    color: purple;
}

.select-ctr p {
    margin-right: 10px;
    color: purple;
}

.start-button {
    width: 80px;
    height: 15px;
    border-radius: 50px;
    background: gray;
}

.innerScreen-welcome-ctr {
    margin-top: 50px;
}

.inner-screen-ctr {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
}

.innerScreen-welcome {
    font-size: 30px;
}

.innerScreen-pressStart-ctr {
    animation: breath 3000ms infinite;
}

@keyframes breath {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.innerScreen-hideMenu {
    display: none;
    margin-top: 15px;
    width: 100%;
}

.hideMenu-p1 {
    width: 90%;
    margin: auto;
}

.hideMenu-p2 {
    display: none;
    animation: breath 3000ms infinite;
}

.p2-txt {
    border: solid black 1px;
    border-style: dotted;
}

.innerScreen-navigation {
    display: none;
}

.innerScreen-navBars {
    margin-top: 5px;
}

.innerScreen-navBar {
    margin-top: 2px;
}

.innerScreen-navTitle {
    border: dotted 2px black;
}

.navBarToggle {
    background: rgb(57, 57, 57);
    font-weight: bolder;
    color: grey;
}

.allProjects-ctr {
    display: none;
}

.description-ctr {
    border: dotted 2px black;
    display: none;
}

.gradeSystem-select-ctr,
.spacex-select-ctr,
.calculator-select-ctr,
.responsive-select-ctr {
    display: none;
}

.gradeSystem-select-ctr {
    margin-top: 53px;
}

.gradeSystem-select-ctr a {
    text-decoration: none;
    color: black;
}

.spacex-select-ctr {
    margin-top: 77px;
}

.calculator-select-ctr {
    margin-top: 5px;
}

.responsive-select-ctr {
    margin-top: 102px;
}

.selectCtr-toggle {
    background: rgb(57, 57, 57);
}

.selectCtr-toggle a {
    color: grey;
    text-decoration: none;
}

.selectCtr-toggle p {
    color: grey;
}

.gradeSystem-link,
.spacex-link,
.calc-link,
.respon-link {
    text-decoration: none;
    color: black;
}










/* .cards {
    width: 33.3%;
    margin-top: 55px;
}

.cards-inner {
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 10px 1px blue;
    height: 600px;
    border-radius: 15px;
}

.card-img {
    margin-left: 5%;
    margin-top: 5%;
}

.card-name-ctr {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    border-bottom: solid white 1px;
    padding-bottom: 10px;
    display: flex;
}

.card-name-ctr p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.card-description-ctr {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.card-description-ctr p {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.card-button-ctr {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.card-button {
    background-color: transparent;
    border: solid blue 2px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;
    color: white;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
} */

.education-wrapper-ctr {
    width: 100%;
    display: flex;
}

.woz-u-img-ctr,
.education-content-ctr {
    width: 50%;
    text-align: center;
}

.woz-u-img {
    width: 800px;
    height: 600px;
    margin-top: 40px;
}

.proof-txt {
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.education-txt-ctr {
    text-align: center;
    margin-top: 300px;
}

.education-txt {
    color: white;
    font-size: 40px;
    font-family: 'Lato', monospace;
    width: 100%;
    margin: auto;
}

.skills-grid {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.skills-grid-1 {
    width: 25%;
}

.skills-grid-2 {
    width: 33.3%;
}

.skills-grid-inner {
    width: 100%;
}

.skills-img-ctr,
.skills-title-ctr {
    width: 100%;
    text-align: center;
}

.fa-html5 {
    color: #e34c26;
    font-size: 200px;
}

.fa-js {
    color: yellow;
    font-size: 200px;
}

.fa-css3-alt {
    color: #264de4;
    font-size: 200px;
}

.fa-react {
    color: #61DBFB;
    font-size: 200px;
}

.skills-title-txt {
    color: white;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 40px;
    text-align: center;
}

/* .skills-txt1 {
    margin-top: 40px;
} */

.skills-ctr-2 {
    border: none;
}

.mysql-image {
    width: 300px;
    height: 200px;
}

.sequelize-img {
    width: 200px;
    height: 200px;
}

.express-image {
    width: 300px;
    height: 50px;
    margin-top: 115px;
}

.skills-txt2 {
    margin-top: 35px;
}

.footer-ctr {
    width: 100%;
    height: 100px;
    margin-top: 130px;
}

.mobile-skills-grid {
    display: none;
}